*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

html{
    background-image: linear-gradient(black, rgb(55, 55, 55));
    background-size: 100%;
    background-repeat: no-repeat;

}

body{
    color: white;
    margin-left: 0;
    margin-right: 0;
}


/* Header CSS */

.header{
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    width: 100vw;
    background-color: black;

}

.headerContent{
    display: flex;
    justify-content: center;
    /* Center doesnt work rn bc of the margin-right auto there so will need to fix later */
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

    /* Site Name CSS */

#siteName{
    position: absolute;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    left: 2vw;
}
#siteName a{
    text-decoration: none;
    color: white;
}
#siteName a:hover{
    color: aqua;
}

    /* Positioning and CSS for Menu Elements */

.navElem{
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}
.navElem a{
    text-decoration: none;
    color: white;
}
    /* Drop Down Menu Stuff */

.navElem:hover > .dropContent, .dropContent > .navElem:hover > .dropContent{
    opacity: 1;
    visibility: visible;
}
.dropContent{
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;

    position: absolute;
    width:12rem;
    padding: 1rem 0;
    background-color: #343434;
    border-radius: 1rem;
    border: 0.2rem solid #414141;
    
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;

}
.dropContent li{
    list-style: none;
    padding: 1rem 1rem;
    transition: background-color 200ms ease-in-out;
}
.dropContent li:hover, .dropContent li:focus{
    background-color: #414141;
}

    /* Individual Drop Downs */

#visualizations{
    top:3rem;
    left:-0.5rem;
}
#sorting{
    top:1.2rem;
    left:12rem;
}

    /* Search Bar */

#navSearch{
    width: 10rem;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
    transition: width 300ms ease-in-out;
}

#navSearch:focus{
    width: 20rem;
}




.text{
    display:block;
    white-space: normal;
    padding: 16px;
    margin-bottom: 500rem;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content{
    padding-top: 102px;
}


