/* FILEPATH: /home/lu-wai/Documents/Projects/Sorting-Algorithms-Visualizer/sorting-visualizer/src/SortingVisualizer/SortingVisualizer.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default Flexbox */
.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Sorting Algorithm Display Area */
/* Container for array bars*/
.array-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    height: 500px;
    width: 80vw;
    background-color: lightblue;
}

/* Individual array bars */
.array-bar {
    /* height: 100%; */
    width: 50px;
    margin: 0 1px;
    display: inline-block;
    background-color: #1a1a1a;
}

.array-bar:hover {
    background-color: #ff0000;
}