/* FILEPATH: /home/lu-wai/Documents/Projects/Sorting-Algorithms-Visualizer/sorting-visualizer/src/SortingVisualizer/SortingVisualizer.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}
/* Title */
.title {
    font-family: "Space Grotesk";
    font-size: 28px;
    height: 5vh;
    width: fit-content;
    text-align: Left;
    color: white;
    margin-left: 1vw;
    margin-top: 1vh;
}

/* Buttons */
.left-panel {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: left;
    height: 100%;
    width: fit-content;
    margin-left: 1vw;
}
.control-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    height: 100%;
}

button {
    font-family: "Space Grotesk";
    background-color: #3b4252;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;

    width: 100%;

    font-weight: 500;
}
button:hover {
    background-color: #5E81AC;
    color: white;
}
.slider-title {
    font-family: "Space Grotesk";
    font-size: 26px;
    color: white;
    font-weight: 500;

    width: 100%;
    align-items: center;

    margin-top: 10px;


}
.button-section-title{
    font-family: "Space Grotesk";
    font-size: 33px;
    color: white;font-weight: 700;

    margin-top: 50px;
    margin-bottom: 10px;

}

.button-section-title{
    font-family: "Space Grotesk";
    font-size: 33px;
    color: white;font-weight: 700;

    margin-top: 30px;
    margin-bottom: 10px;

}


.background {
    background-color: #2e3440;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/* Default Flexbox */
.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Sorting Algorithm Display Area */
/* Container for array bars*/
.array-display-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin-left: 1vw;
    height: 100%;
    width: 98vw;
    background-color: #3b4252;
    border-radius: 10px;
    overflow: hidden;
}
.array-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    height: 98%;
    width: 100%;
    margin-bottom: 0%;
    background-color: #3b4252;
}

/* Individual array bars */
.array-bar {
    /* height: 100%; */
    width: 50px;
    margin: 0 1px;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 5px;
}

/* Backlink section */
.bottom-section {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    margin-bottom: 20px;

}

.icon {
    height: 50px;
    width: 50px;
}
.home-icon {
    height: 60px;
    width: 60px;
    color: #4c566a;
}
.home-icon:hover {
    color: #5E81AC;
    cursor: pointer;
}
.github-icon {
    height: 50px;
    width: 50px;
    color: #4c566a;
}.github-icon:hover {
    color: #5E81AC;
    cursor: pointer;
}
